/* body {
  background: #34495e;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  padding: 50px 150px;
} */

.title {
  margin: 30px auto;
  text-align: center;
  text-shadow: #33f 0 0 20px;
}